.cover__link {
  display: block;

  background-color: rgb(42, 44, 47, 0.3);

  text-decoration: none;

  margin: 0;
  /* padding: 195px 232px; */
  padding: 195px 0;
}

.cover__link:hover {
  background-color: rgb(42, 44, 47, 0.8);
}


@media screen and (min-width: 1280px) {
  .cover__link {
    /* padding: 245px 312px; */
    padding: 245px 0;
  }
}

@media screen and (max-width: 970px) {
  .cover__link {
    /* padding: 115px 104px; */
    padding: 115px 0;
  }
}

@media screen and (max-width: 514px) {
  .cover__link {
    /* padding: 33px 16px; */
    padding: 33px 0;
  }
}

@media screen and (max-width: 320px) {}
