.lead {
  max-width: 928px;
  min-height: 406px;

  font-size: 0;

  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 986px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin: 0 auto;
    margin: 0 auto 64px;
  }
}
