.lead__subtitle {
  max-width: 640px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;

  color: #FFFFFF;

  margin: 32px auto 56px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px auto 64px;
  }
}

/* @media screen and (max-width: 768px) {} */

/* @media screen and (max-width: 425px) {} */

@media screen and (max-width: 640px) {
  .lead__subtitle {
    max-width: 288px;

    font-size: 16px;
    line-height: 1.25;

    margin: 16px auto 40px;
  }
}
